ion-content {
    --background: url(/../assets/images/background.png) 0 0/100% 100% no-repeat;
  }
  
  ion-toolbar {
    --background: url(/../assets/images/navbarbg.png) 0 0/100% 100% no-repeat;
  }
  
  .boutonbard{
    float: right;
  }
  
    img {
    position:absolute;
    left:40px;
    top:180px;
    width: max-content;
    border-radius:10px;
    margin:auto;
    padding:auto;
    }
  
    h1{
        position: absolute;
        padding:3em;
        font-family: 'Snell Roundhand';
        text-align: center;
        font-size: 2em;
        padding-top:50px;
        left:20px;
        color: white;
        font-weight:bold;
      }
  
    p{
        position: absolute;
        font-size: 0.8em;
        top:380px;
        text-align: center;
        left:15px;     
        
    }