
<ion-header>
  <ion-toolbar id = "toolbar">
      <ion-button class = "boutonbard" [routerLink] = "['/magasin']">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button class = "boutonbarg" [routerLink] = "['/home']">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid id = "main-grid">
    <ion-row class = 'little-row'>
        <h1>Nos Bateaux Partenaires</h1>
    </ion-row>

  
  
    <ion-row class = "little-row">
      <div id="container">
        <strong>Tous les eaux mènent à Thibault</strong>
        <div>06.63.99.99.78<br/>lebateaudethibault@gmail.com<br/>www.facebook.com/lebateaudethibault</div>
      </div>
    </ion-row>

    <ion-row class = "big-row">
      <ion-grid>
        <div id="buttonBar">
          
    <ion-row>
      <ion-col>
        <ion-button class ="button2" [routerLink] = "['/bateau-type']" (click) = "this.type.setIndex(0) ">
          <img src="../assets/icon/deLaBrise_icon.png">
        <p class=textbutton2>De la Brise</p>
        </ion-button> 
      </ion-col>
      <ion-col>
        <ion-button class ="button2" [routerLink] = "['/bateau-type']" (click) = "this.type.setIndex(1)">
          <img src="../assets/icon/gastMicher_icon.png">
          <p class=textbutton2>Gast Micher</p>
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class ="button2" [routerLink] = "['/bateau-type']" (click) = "this.type.setIndex(2)">
          <img src="../assets/icon/aquilon_icon.png">
            <p class = textbutton2>Aquilon</p>
        </ion-button> 
      </ion-col>
      <ion-col>
        <ion-button class ="button2" [routerLink] = "['/bateau-type']" (click) = "this.type.setIndex(3)">
          <img src="../assets/icon/saphir_icon.png">
            <p class = textbutton2>Saphir</p>
          </ion-button>
      </ion-col>
    </ion-row>
    </div>
    </ion-grid>
  </ion-row>
  </ion-grid>
</ion-content>
