ion-content {
    --background: url(/../assets/images/background.png) 0 0/100% 100% no-repeat;
  }

  ion-toolbar {
    --background: url(/../assets/images/navbarbg.png) 0 0/100% 100% no-repeat;
  }
  
  .boutonbard{
    float: right;
  }