<ion-header>
  <ion-toolbar id = "toolbar">
      <ion-button class = "boutonbard" [routerLink] = "['/magasin']">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button class = "boutonbarg" [routerLink] = "['/home']">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class = "big-row">
    <ion-grid>
      <div id="buttonBar">
        <ion-row>
          <ion-button class ="button2" (click)= "commande()">
            <img src="../assets/icon/poisson.png">
            <p class=textbutton2>Poissons</p>
          </ion-button>
        </ion-row>
  <ion-row>
      <ion-button class ="button2" (click)= "commande()" >
        <img src="../assets/icon/poulpe.png">
      <p class=textbutton2>Calamar</p>
      </ion-button>     
  </ion-row>
  <ion-row>
      <ion-button class ="button2" (click)= "commande()" >
        <img src="../assets/icon/ancre.png">
          <p class = textbutton2>Coquillages</p>
      </ion-button> 
    
  </ion-row>
  <ion-row>
    <ion-button class ="button2" (click)= "commande()">
      <img src="../assets/icon/homard.png">
        <p class = textbutton2>Crustacés</p>
    </ion-button> 
  
</ion-row>
  </div>
  </ion-grid>
</ion-row>
</ion-content>
