<ion-header>
  <ion-toolbar id = "toolbar">
      <ion-button class = "boutonbard" [routerLink] = "['/magasin']">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
      <ion-button class = "boutonbarg" [routerLink] = "['/home']">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1 id = "titre">
      {{this.varMaison.getBateauName(this.type.getIndex())}}
    </h1>
  </div>
  <div>
    <img  src = {{this.varMaison.getBateauImage(this.type.getIndex())}}/>

  </div>
  <div id="texte">
    <p >
      Qu'il est chaud le soleil <br/>
      Quand nous sommes en vacances <br/>
      Y a d'la joie, des hirondelles <br/>
      C'est le sud de la France <br/>
      Papa bricole au garage <br/>
      Maman lit dans la chaison longue <br/>
      Dans ce joli paysage <br/>
      Moi, je me balade en tongs <br/> <br/>
      Que du bonheur! <br/>
      Que du bonheur!
    </p>
  </div>
 
</ion-content>
