
<ion-header>
  <ion-toolbar id = "toolbar">
      <ion-button class = "boutonbarg" [routerLink] = "['/magasin']">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid id = "main-grid">
    <ion-row class = 'little-row'>
        <h1>Le Bateau de Thibault</h1>
    </ion-row>

  
  
    <ion-row class = "little-row">
      <div id="container">
        <strong>Vente en direct de notre bateau<br/> Produit selon la saison, Livraison sur Paris</strong>
        <div>06.63.99.99.78<br/>lebateaudethibault@gmail.com<br/>www.facebook.com/lebateaudethibault</div>
      </div>
    </ion-row>

    <ion-row class = "big-row">
      <ion-grid>
        <div id="buttonBar">
          <ion-row>
            <ion-button id ="button1" [routerLink] = "['/produits']">
              Produits et Promotions
              <img src="../assets/icon/poisson.png">
            </ion-button>
          </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class ="button2" [routerLink] = "['/bateau']" >
          <img src="../assets/icon/ancre.png">
        <p class=textbutton2>Bateaux</p>
        </ion-button> 
      </ion-col>
      <ion-col>
        <ion-button class ="button2" [routerLink] = "['/restaurants']">
          <img src="../assets/icon/restaurant.png">
          <p class=textbutton2>Restaurants</p>
          </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class ="button2" [routerLink] = "['/recettes']">
          <img src="../assets/icon/recette.png">
            <p class = textbutton2>Recettes</p>
        </ion-button> 
      </ion-col>
      <ion-col>
        <ion-button class ="button2" [routerLink] = "['/contact-thibault']" >
          <img src="../assets/icon/tourteau.png">
            <p class = textbutton2>Contact</p>
          </ion-button>
      </ion-col>
    </ion-row>
    </div>
    </ion-grid>
  </ion-row>
  </ion-grid>
</ion-content>
